In [20]:
import pandas as pd
import csv
from textblob import TextBlob, Word
import re

In [21]:
data = pd.read_csv("review.csv", names = ["text"])
data.head()

                                                text
0  Value for money.. M happy.. Delivered in right...
1                                          Excellent
2                                          Excellent
3                                            Awesome
4                                              Niccc

In [22]:
data.shape

(22639, 1)

In [23]:
data.head()

                                                text
0  Value for money.. M happy.. Delivered in right...
1                                          Excellent
2                                          Excellent
3                                            Awesome
4                                              Niccc

In [24]:
pos_dictionary = {}
neg_dictionary = {}
neu_dictionary = {}
positive_review = 0
negative_review = 0
neutral_review = 0


for texts in data.text:
    
    texts=re.sub('[^ a-zA-Z0-9]','',str(texts))
    polarity = TextBlob(str(texts)).sentiment.polarity
    #print(polarity)
    
    if( polarity > 0.33):
        if(len(pos_dictionary) < 829):
            pos_dictionary[texts] = 1
    
    elif( polarity <-0.33):
        if(len(neg_dictionary) < 829):
            neg_dictionary[texts] = -1
        
    else:
        if(len(neu_dictionary) < 829):
            neu_dictionary[texts] = 0



print(len(pos_dictionary))
print(len(neg_dictionary))
print(len(neu_dictionary))

829
829
829

In [25]:
f= open("final_review.csv","w+")

In [26]:
for key, value in pos_dictionary.items():
 #   print(key, value)
    f.write(key + "," + str(value))
    f.write("\n")
    
for key, value in neg_dictionary.items():
 #   print(key, value)
    f.write(key + "," + str(value))
    f.write("\n")
    
for key, value in neu_dictionary.items():
 #   print(key, value)
    f.write(key + "," + str(value))
    f.write("\n")

In [27]:
f.close()

In [28]:
final_data = pd.read_csv("final_review.csv", names = ["text","sentiment"])
final_data.head()

                                                text  sentiment
0   Value for money M happy Delivered in right time           1
1                                          Excellent          1
2                                            Awesome          1
3  The packing is very good and phone is much bet...          1
4                                 Nice n so hot look          1

In [29]:
final_data[final_data.sentiment == 1].head()

                                                text  sentiment
0   Value for money M happy Delivered in right time           1
1                                          Excellent          1
2                                            Awesome          1
3  The packing is very good and phone is much bet...          1
4                                 Nice n so hot look          1

In [30]:
final_data[final_data.sentiment == -1].head()

                                                  text  sentiment
829                           Camera problems not good         -1
830                                   battery very bad         -1
831  worst phonecamera quality was gud but not batt...         -1
832  Battery backup is very poor quality and I am n...         -1
833                                        worst phone         -1

In [31]:
final_data[final_data.sentiment == 0].head()

                                                   text  sentiment
1658                                              Niccc          0
1659  The one thing that was missing from the smartp...          0
1660  Dear flipkart I dont expect this from you your...          0
1661                                                Gud          0
1662                                               Awsm          0