In [202]:
import pandas as pd
import csv
from textblob import TextBlob, Word

In [230]:
data = pd.read_csv("review.txt", names = ["text"])
data.head()

                                                text
0  Value for money.. M happy.. Delivered in right...
1                                          Excellent
2                                          Excellent
3                                            Awesome
4                                              Niccc

In [231]:
data.shape

(22639, 1)

In [205]:
data.head()

                                                text
0  Value for money.. M happy.. Delivered in right...
1                                          Excellent
2                                          Excellent
3                                            Awesome
4                                              Niccc

In [207]:
dictionary = {}
positive_review = 0
negative_review = 0
neutral_review = 0


for texts in data.text:
    
    texts=re.sub('[^ a-zA-Z0-9]','',str(texts))
    polarity = TextBlob(str(texts)).sentiment.polarity
    #print(polarity)
    
    if( polarity > 0.33):
        if(positive_review<968):
            positive_review+=1
            dictionary[texts] = 1
    
    elif( polarity <-0.33):
        if(negative_review<968):
            negative_review+=1
            dictionary[texts] = -1
        
    else:
        if(neutral_review<968):
            neutral_review+=1
            dictionary[texts] = 0



print(positive_review)
print(negative_review)
print(neutral_review)

968
968
968

In [210]:
len(dictionary)

2317

In [211]:
type(dictionary)

dict

In [213]:
f= open("final_review.csv","w+")

In [214]:
for key, value in dictionary.items():
 #   print(key, value)
    f.write(key + "," + str(value))
    f.write("\n")

In [215]:
f.close()

In [217]:
final_data = pd.read_csv("final_review.csv", names = ["text","sentiment"])
final_data.head()

                                                text  sentiment
0  I didnt get my order empty box has been sent b...          0
1  waterdrop  notch display allows u to make see ...          0
2                                         Very super          1
3                                   It was very good          1
4              I bought OPPO F9 during sale at 12990          0

In [228]:
final_data[final_data.sentiment==1].head()

                                                 text  sentiment
2                                          Very super          1
3                                    It was very good          1
7   Awesome mobile and processser is so good and P...          1
8                                           Very nice          1
20                                   wonderful mobile          1

In [229]:
final_data[final_data.sentiment==-1].head()

                                                 text  sentiment
5                            display quality not good         -1
9                                  same product worst         -1
10                Its not good lot of heating problem         -1
11  in this phone processor is 675 and on note 5 t...         -1
13  Please dont buy this phone Microphone problem ...         -1